.card-row{

    display: flex;
    /* 够不下就换行 */
    gap: 16px;
    
}

.card{
    border: 2px solid var(--border);
    padding: 10px;
    width: 400px;
}
.card > img{
    width: 100%;
    height: auto;
}

.highlight{
    color:var(--theme-color);
}