.lab-card-row{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.lab-card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
    border-radius: 12px;
    padding: 15px;
    gap: 10px;
}
.llab-card:hover {
    background-color: var(--bg-card);
}
.lab-card img {
    width: 300px;
}

/* 清掉子元素的默认上下外边距 */
.lab-card>h1,
.lab-card>h2,
.lab-card>h3,
.lab-card>p {
    margin: 0;
}
