.title {
    position: absolute;
    top: 300px;
    left: 50%;
    width: 150px;
    height: 150px;
    z-index: 999;
    transform: translate(-50%, 0);
    /* 防抖 */
    will-change: transform;
    transform-origin: center top;
}
.back {
    height: 400px;
}
.back2 {
    height: 3000px;
}