
/* 实验一: 上下翻页****************************************************************************** */
/* 外层滚动容器 */
.content-wheel-up{
    height: 400px;
    overflow: hidden; /* 禁用滚动条 */
}

/* 内层内容容器，占满父容器高度 */
.content-box-up {
    height: 100%;
    display: felx;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}
/* 每一屏内容居中展示 */
.content-box-up div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* 实验二: 左右翻页****************************************************************************** */

/* 外层滚动容器 */
.content-wheel-left {
    height: 400px;
    overflow: hidden;
    /* overflow-x: scroll; */
}

.content-box-left {
    width: calc(100% * 4);
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: all 0.5s ease-in-out;
    
}

/* 每一屏内容居中展示 */
.content-box-left div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 不同样式******************************************************* */

/* 居中显示的大号白色文字 */
.content-box-up span,
.content-box-left span {
    font-size: 3rem;
    font-weight: 500;
    color: white;
}

/* 居中显示的小号白色文字 */
.content-box-up p,
.content-box-left p {
    font-size: 1rem;
    font-weight: 300;
    color: white;
    margin-top: -5px;
}

/* 不同背景色 */
.content1-up {
    background-color: color-mix(in srgb, var(--theme) 100%, transparent);
}

.content2-up {
    background-color: color-mix(in srgb, var(--theme2) 100%, transparent);
}

.content3-up {
    background-color: color-mix(in srgb, var(--theme3) 100%, transparent);
}

.content4-up {
    background-color: color-mix(in srgb, var(--theme4) 100%, transparent);
}

.content1-left {
    background-color: color-mix(in srgb, var(--theme4) 100%, transparent);
}

.content2-left {
    background-color: color-mix(in srgb, var(--theme3) 100%, transparent);
}

.content3-left {
    background-color: color-mix(in srgb, var(--theme2) 100%, transparent);
}

.content4-left {
    background-color: color-mix(in srgb, var(--theme) 100%, transparent);
}